Package            Version
------------------ ---------
bidict             0.22.1
certifi            2023.7.22
chardet            4.0.0
click              8.1.7
dnspython          2.4.2
eventlet           0.33.3
Flask              1.1.2
Flask-Cors         4.0.0
Flask-JWT-Extended 3.25.0
Flask-SocketIO     5.3.6
greenlet           3.0.1
gunicorn           21.2.0
h11                0.14.0
idna               3.4
itsdangerous       1.1.0
Jinja2             2.11.2
MarkupSafe         1.1.1
packaging          23.2
pip                23.3.1
PyJWT              1.7.1
pymongo            4.4.1
python-engineio    4.7.1
python-socketio    5.9.0
requests           2.31.0
setuptools         68.2.2
simple-websocket   0.10.1
six                1.16.0
urllib3            2.0.4
websockets         10.4
Werkzeug           1.0.1
wheel              0.41.2
wsproto            1.2.0
pytz               2023.3.post1
-----------------------------
npm                9.8.1
node               18.18.2

