* {
  margin: 0;
  padding: 0;
}

.admin_body {
  font-family: "Pretendard";
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

#admin_header_top {
  display: grid;
  width: 100%;
  height: 6.95%;
  border-bottom: 0.3px solid #B3B3B3;
  grid-template-columns: 80% 20%;
}

.admin_header{
  height: 100%; 
  display: grid;
  grid-template-columns: 6fr 1fr;
  border-right: 0.3px solid #B3B3B3;
}

.main-title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 20rem;
}

.title-tiger {
  width: 7rem;
  height: 6rem;
  margin-right: 1.8rem;
}

.title-logo {
  width: 13rem;
  height: 7rem;
  margin-top: 0.3rem;
}

.digital-clock {
  float: right;
  margin-right: 4rem;
  text-align: center;
  margin-top: 2rem;
}

.header-date {
  font-size: 3rem;
  font-weight: 300;
  color: #B0B0B0;
}

.header-time {
  color: #202020;
  font-size: 3rem;
  font-weight: bold;
}

.title-alarm {
  float: right;
  display: flex;
  justify-content: center;

}

.title-bell {
  width: 5.5rem;
  height: 5.5rem;
  margin-top: 0.8rem;
  margin-left: -1rem;
}

.title-notice {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;  
  color: #F08125;
}


.alarmborderbox {
  position: absolute;
  margin-left: 100%;
  margin-top: 5vh;
}

.alarm-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.alarm-container::-webkit-scrollbar {
  display: none;
}

.alarm-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 16rem;
  border-bottom: 0.5px dashed #B5B0B0;
  padding: 0 4rem;
}

.alarmdel {
  display: flex;
  justify-content: end;
  background-color: #fff;
  border: none;
  margin-top: 2rem;
  margin-right: 1.4rem;
}


.alarmbtn {
  width: 2rem;
}

.alarmData-span {
  font-size: 1.4rem;
  font-weight: 300;
}

.alarm-message {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.4rem;
  text-overflow: ellipsis;
  white-space: pre-wrap; /* 줄 바꿈을 허용하는 속성 */
}

.alarm-time-p {
  font-size: 1.5rem;
  font-weight: 300;
}

.admin_nav {
  height: 5%;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.info_table1 {
  width: 15rem;
  height: 5.5rem;
  border-radius: 3rem;
  background: #80c2ff;
  padding-top: 1.2rem;
}

.info_table2 {
  width: 15rem;
  height: 5.5rem;
  border-radius: 3rem;
  background: #ff8fd2;
  padding-top: 1.2rem;
}

.info_table3 {
  width: 15rem;
  height: 5.5rem;
  border-radius: 3rem;
  padding-top: 1.2rem;
  background: #ffc555;
}

.info_table4 {
  width: 15rem;
  height: 5.5rem;
  border-radius: 3rem;
  padding-top: 1.2rem;
  background: #dd7dff;
}

.info_table5 {
  width: 15rem;
  height: 5.5rem;
  border-radius: 3rem;
  padding-top: 1.2rem;
  background: #c8c8c8;
}

.info_title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

#table-information {
  height: calc(100vh - 6.95%);
  border-right: 0.3px solid #B3B3B3;
}

#admin_main {
  margin-top: 5%;
  display: grid;
  width: 100%;
  height: calc(100vh - 6rem);
  grid-template-columns: 80% 20%;
}


.table-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 7%;
  width: 100%;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 3rem;
}

.table-man {
  font-size: 5rem;
  font-weight: 700;
  color: #80c2ff;
}
.table-woman {
  font-weight: 700;
  font-size: 5rem;
  color: #ff8fd2;
}
.table-mixed {
  font-weight: 700;
  font-size: 5rem;
  color: #ffc555;
}
.table-join {
  font-weight: 700;
  font-size: 5rem;
  color: #dd7dff;
}
.table-empty {
  font-weight: 700;
  font-size: 5rem;
  color: #c8c8c8;
}

.table-container {
  margin-top: 4rem; 
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  height: 68%;
}

.table-container-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: repeat(5, 17%);
  row-gap: 2.5rem;
  column-gap: 2rem;
}

/* 푸터부분 버튼 스타일 */

.admin-footer {
  height: 10rem;
  margin-top: 2rem;
}

.footer-button {
  display: flex;
  padding-top: 2rem;
  font-size: 2.3rem;
  font-weight: 900;
}

.blue-btn-box {
  margin-left: 11rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.time-plus {
  height: 4.5rem;
  width: 17rem;
  border-radius: 9rem;
  background: #87deff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-right: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.heart-plus {
  height: 4.5rem;
  width: 17rem;
  border-radius: 9rem;
  background: #87deff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-right: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.table-exit {
  height: 4.5rem;
  width: 17rem;
  border-radius: 9rem;
  background: #87deff;
  border: none;
  color: #fff;
  padding: 10px 20px;

  font-size: 1.5rem;
  font-weight: 600;
}

.table_choice {
  margin-left: 14rem;
  height: 4.5rem;
  width: 17rem;
  border-radius: 9rem;
  background: #fff;
  color: #87deff;
  border: 0.15rem solid #2d63a4; /* border 설정 한 번으로 수정 */
  font-size: 1.5rem;
  font-weight: 600;
}

.table_choice:hover {
  background: #87deff;
  color: #fff;
  border: 0.15rem solid #2d63a4;
  font-weight: 900;
  transition: 0.1s;
}

.selected-table {
  border: 2px solid red;
}