* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

/* Body Styling */
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Pretendard Variable', sans-serif;
  background-color: #fff;
  text-align: center;
}

span {
  color: #000;
  text-align: center;
  font-style: normal;
  line-height: normal;
  white-space: nowrap;
}

p {
  margin-top: 20px;
  font-size: 16px;
  color: #666; 
}

/* Heading Styling */
h1 { color: #333; } 
h4 {
  font-size: 0.8rem;
  font-weight: 700;
}

/* Button Styling */
button { cursor: pointer; }

input[type="button"] {
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="number"] { 
  appearance: textfield;
  -webkit-appearance: textfield; 
}

textarea { 
  resize: none; 

  &:focus {
    outline: none;
  }
}