.ReactModal__Content {
  left: 13% !important;
  top: 38% !important;
  vertical-align: middle !important;
  background-color: transparent !important;
  border: none !important;
  height: 15rem !important;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  border: 1px solid #000;
  border-radius: 1.4375rem;
  height: 15rem;
  background-color: #fff;
}

.react-modal-overlay {
  display: none !important;
}

.modalTitle {
  height: 2.7rem;
  padding-top: 0.5rem;
  padding-left: 1.4rem;
  border-bottom: 1px solid #000;

  span {
    float: left;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2.8rem);
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;

  span {
    font-size: 1.3rem;
    font-weight: 600;
  }

  button {
    margin: 0 auto;
    margin-top: 2rem !important;
    border: none;
    width: 8rem;
    height: 2rem;
    border-radius: 2.125rem;
    background-color: #87deff;

    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
  }
}