.homeWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  .homeTitle {
    display: flex;
    margin: 0 auto;
    margin-top: 11.69rem;

    span {
      margin: 0;
      font-family: 'Barlow', sans-serif;
      font-size: 4.5rem;
      font-weight: 700;
      letter-spacing: -0.15rem;
      line-height: 110%;
    }
  }
}
  
  .homeSubtitle {
    margin: 0 auto;
    padding-top: 0.63rem;

    span {
      font-family: 'Barlow', sans-serif;
      font-size: 1.2625rem;
      font-weight: 400;
    }
  }

  .homeBtnContainer {
    display: flex;
    flex-direction: column;
    margin: 10.28rem 5.25rem 2.75rem;


    button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 7.57rem;
      margin-bottom: 2.75rem;
      background-color: #fff ;

      border: 0.63rem solid #000;
      box-shadow: 3px 3px 10px 0px rgba(157, 35, 64, 0.10);

      .homeBtnTitle {
        margin: 0 auto;
        display: flex;

        span {
          margin-top: 0.4rem;
          margin-right: 1.5rem;
          font-size: 2.525rem;
          font-weight: 700;
          letter-spacing: -0.15rem;
        }

        img {
          width: 4.375rem;
          height: 4.4375rem;
          // margin-top: 1.19rem;
        }
      }
  }
}