.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  border-radius: 0.625rem;

  .tableTitle {
    text-align: left !important;
    margin-bottom: 0.69rem;

    span {
      color: #fff !important;
      font-size: 1.575rem;
      font-weight: 700;
    }
  }
}

.tableContents {
  height: 3rem;
  display: flex;

  .tableState {
    width: 3rem;
    height: 3rem;
    float: left;
  }
  
  .tableCount {
    margin-left: 1rem;
    width: 5rem;
    height: 3rem;
    display: flex;

    img {
      float: left;
      margin-top: 1.3rem;
      margin-left: 0.4rem;
      width: 1.7rem;
      height: 1.7rem;
    }
    
    .double {
      margin-top: 1.3rem;
      margin-left: 0.3rem;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 700;
    }
    
    .headCount {
      color: #fff;
      font-size: 3rem;
      font-weight: 700;
    }
  }
}

.inactive {background-color: #e2e2e2;}
.tableBackgroundMale {background-color: #87deff;}
.tableBackgroundFemale {background-color: #ffc5f1;}
.tableBackgroundMixed {background-color: #f9f16a;}










