#checkInWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.checkInTitle {
  margin-top: 6.51rem;
  margin-bottom: 3.86rem;

  span {
    font-size:  2.2rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
  }
}

.checkInButtonBox {
  margin: 0 auto;
  padding-top: 1.19rem;
  padding-bottom: 0.38rem;
  width: 80%;
  height: 18.375rem;

  .selectBox {
    width: 100%;
    height: 8.5625rem;

    .selectBoxTitle {
      border-bottom: 1px solid #000;
      text-align: left;
      padding-bottom: 0.26rem;
      
      span {
        margin: -0.25rem;
        font-size: 1.2625rem;
        font-weight: 700;
        line-height: 80%;
        padding-left: 0.44rem;
      }
      
      .highlight {
        color: #D90026;
      }
    }
  }
  
  .genderSelect {
    .genderBtn {
      display: flex;
      justify-content: space-around;
      margin-top: 0.9rem;
      width: 100%;
      height: 5.3125rem;

      button {
        width: 30%;
        height: 4rem;
        border: 1px solid #000;
        border-radius: 0.625rem;
        background-color: #fff;

        img {
          justify-content: center;
        }
      }

      .selected {
        background-color: #87DEFF;
      }
    }
  }
}

.inputGroup {
  margin-top: 1.96rem;
  transition: all 300ms ease;

  .btnMinus, .btnPlus {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 0.3125rem;

    margin: 0;
    width: 2rem;
    height: 2rem;

    text-align: center;
    font-weight: 700;
    font-size: 1rem ;
    padding: 0;

    input {
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .quantityField {
    margin: 0 0 0.5rem;
    width: 10.7rem;
    height: 2.5rem;
    border: none;
    text-align: center; 

    color: #000;
    font-family: 'Pretendard', sans-serif;
    font-size: 1.575rem;
    font-weight: 500;
  }
}

.selfIntroduceContent {
  margin: 0 3.31rem;

  .selfIntroduceTitle {
    text-align: start;

    span {
      font-size: 1.2625rem;
      font-weight: 700;
    }
  }

  textarea {
    border: 1px solid #e4e4e4;
  }
}

.filmAgree {
  margin: 2.13rem 3.31rem;

  .filmAgreeTitle {
    text-align: start;

    span {
      font-size: 1.2625rem;
      font-weight: 700;
    }
  }

  .filmAgreeContent {
    margin-top: 0.35rem;
    padding: 0.33rem 1.11rem 0.56rem;
    height: 8.5rem;
    overflow: scroll;
    text-align: start;
    border: 1px solid #e4e4e4;
    font-size: 0.675rem;
    font-weight: 500;
  }

  .agreeCheckBox {
    float: right;
    margin-top: 0.55rem;
    
    input[type='checkbox'] {
      border-radius: 0.3125rem;
      border: 1px solid #C5C6CC;
    } 

    label {
      position: relative;
      top: -0.35rem;
      margin-left: 0.4rem;

      font-size: 1rem;
      font-weight: 700;
      line-height: 0.875rem;
      letter-spacing: 0.017rem;
    }
  }
}

.submitBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  padding-top: 0.89rem;
  width: 20.825rem;
  height: 3.3rem;

  justify-content: center;
  border-radius: 0.625rem;
  border: none;
  background-color: #87DEFF;  

  span {
    color: #fff;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.25rem;
  }
}

input[type="checkbox"] {
  border-radius: 0.3125rem;
  border: 1px solid #C5C6CC;
} 