<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEBA</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/checkIn.css">
</head>
<body>
  <div class="checkin-title">
    <span>Update Your Profile</span>
  </div>
  <form>
    <div class="checkin-container">
      <div class="gender-selectbox"> 
        <div class="selectbox-title">
          <span>성별</span>
        </div>
        <div class="selectbox-content gender-select">
          <button class="select-male">
            <img src="/static/images/male.png">
          </button>
          <button class="select-female">
            <img src="/static/images/female.png">
          </button>
        </div>
      </div>
      <div class="headcount- selectbox">
        <div class="selectbox-title">
          <span>인원 수</span>
        </div>
      </div>
    </div>
  </form>
</body>
</html>