<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/error.css" type="text/css" />
    <title></title>
  </head>
  <body>
    <div class="error_wrap">
      <div class="error-box">
        <div class="error-img">
          <img src="/static/images/error.png" alt="Error Image" /></div>
        <div class="error_message">
          <p>일시적인 오류가 발생했습니다.</p>
          <p>QR 코드를 다시 찍어주세요!</p>
          <p>이용에 불편을 드려 죄송합니다.</p>
        </div>
      </div>
    </div> 
  </body>
</html>
