<!DOCTYPE html>
<html>
<head>
    <title>TABLE INFO</title>
</head>
<body>
    <h1>TABLE INFO</h1>

    <table border="1">
        <tr>
            <th>테이블 번호</th>
            <td>{{ table_info.table_no }}</td>
        </tr>
        <tr>
            <th>인원수</th>
            <td>{{ table_info.nums }}</td>
        </tr>
        <tr>
            <th>성별</th>
            <td>{{ table_info.gender }}</td>
        </tr>
        <tr>
            <th>합석 여부</th>
            <td>{{ table_info.join }}</td>
        </tr>
        <tr>
            <th>남은 좋아요 수</th>
            <td>{{ table_info.remained_likes }}</td>
        </tr>
    </table>
</body>
</html>
