<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEBA</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <header>
    <nav>
      <a class="home" href="/">
        <img class="home" src="/static/images/home.svg">
      </a>
      <span>Table 4</span>
      <!-- 추후 알림창은 모달로 작업 -->
      <a class="alarm" href="/">       
        <img src="/static/images/alarm.svg">
      </a> 
    </nav>
    <div class="sub-nav">
      <button class="all">전체</button>
      <button class="female">여자만</button>
      <button class="male">남자만</button>

    </div>
  </header>
  <main id="wrapper">
  </main>
  <footer>
    <button class="call-server">직원호출</button>
    <button class="charge-heart">하트충전</button>
    <button class="order">주문하기</button>
    <button class="mypage">마이페이지</button>
  </footer>
</body>
</html>